body {
    /* Margin bottom by footer height */
    background-color: #666666;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    
    background-color: orange;
    border-color: orange;
}
.navbar-nav .active {
    color:orange !important;
}