@page
@model LoginModel

@*@{
    ViewData["Title"] = "Log in";
}*@

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-4 ">

    </div>
    <div class="col-sm-4  text-white p-3" style="background-color: black; margin-top: 80px; border-radius: 10px; opacity: 0.9;">
        <section>

            <form id="account" method="post">
                <h4>Oturum Aç</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <p > Üye olmadan devam etmek için <a asp-area="" asp-controller="Home" asp-action="Index"> tıklayınız.</a> </p>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>

            </form>
        </section>
    </div>

</div>



@*<div class="container-fluid" mt-6>

    <div class="row">
        <div class="col-sm-4 ">

        </div>
        <div class="col-sm-4  text-white p-3" style="background-color: black; margin-top: 80px; border-radius: 10px; opacity: 0.9;">
            <p style="font-size: 40px; margin-top:20px;margin-left:20px;"> Oturum Aç</p>
            <div asp-validation-summary="All" class="text-danger"></div>



            <form style="margin-left: 20px;">
                <input asp-for="Input.Password" class="form-control" style="height: 40px; margin-bottom: 20px;" type="text" id="eposta" name="eposta" placeholder="E-posta adresi">
                <input asp-for="Input.Password" class="form-control" style="height: 40px;" type="text" id="parola" name="parola" placeholder="Parola">
            </form>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" style="color: white; Background-color: red; margin-top: 15px; margin-left: 20px;" class="btn btn-primary" id="oturumAc"> Oturum Aç</button>
            </div>
                <div>
                    <p style="margin-top: 15px; margin-left: 20px;"> Üye değil misiniz?. <a href="url"> Şimdi kaydolun.</a> </p>

                </div>
                <div>
                    <p style="margin-left: 20px;"> Üye olmadan devam etmek için <a asp-area="" asp-controller="Home" asp-action="Index"> tıklayınız.</a> </p>

                </div>


            </div>
            <div class="col-sm-4 ">

            </div>

        </div>

</div>*@



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
