@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model Category
<div class="row">
    <div class="col-sm-9">
        <h3 style="text-align: center;font-size:40px; color:orange">@localizer["addCat"]</h3>
        <div style="background-color: #cccccc; padding:50px;">
            <form asp-controller="Home" asp-action="Addcategory">
                <div class="form-group">
                    <p>@localizer["nameCat"]</p>
                    <input type="text" asp-for="@Model.Name" required />
                </div>

                <div class="form-group"><button type="submit" class="btn" style="background-color:orange">@localizer["save"]</button></div>

            </form>
        </div>

    </div>
</div>
